
body {
  margin: 0;
}

.form-header {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
    i {
        display: flex;
        align-items: center;
    }
}


.placeholder {
    border: none;
    background-color: #eaeaea;  
    font-weight: 900;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 40%;
}


.first-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 40px;
    background-color: transparent;
    .div-first-section {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.div-first-section {
  text-align: center;
}

.button-one {
    padding: 15px;
    border: none;
    background: linear-gradient(#FF79DA,#9356DC);
    border-radius: 20px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 70%;
    align-self: center;
}   

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 100px;
    background-color: #fdfdfd;
    h2 {
      align-self: flex-start;
      padding-left: 30px;
    }
}

.list-operation {
    list-style-type: none;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 20px;
}

.operation {
    background-color: #F6F6F6;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    p {
        display: flex;
        gap: 10px;
        font-weight: 600;
        text-align: center;
        padding-left: 10px;
    }
    span {
        background-color: #9356DC;
        position: absolute;
        border-radius: 100%;
        left: -10px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    i {
        color: #9356DC;
    }
}

.restaurant-list {
  margin: 30px;
}

.restaurant-section {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    padding-top: 10px;
    h2 {
        padding-left: 30px;
        padding-bottom: 30px;
    }
}

.restaurant-a {
    display: flex;
    width: 100%;
    flex-direction: column;
    p {
      display: flex;
      }
      i {
  
        position: absolute;
        right: 8%;
        bottom: 5%;
        // Contraction des fonction duration, property et fréquence  en une seulle 
        transition: all 2s ease-in-out;
      }
      img {
        width: 100%;
        height: 280px;
        object-fit: cover;
      }

}

.card {
  transition: 0.3s;
  position: relative;
  width: 100%;
  height: auto;
  contain: content;     
  border-radius: 15px;
  background-color: #fdfdfd;
  margin-bottom: 30px;
  span {
    position: absolute;
    top: 10%;
    right:5%;
    background-color: #99E2D0;
    color: #008766;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 2px;
  }
    i {
      position: absolute;
      bottom: 5%;
      right: 10%;
    }
    .heart-solid{
      opacity: 0;
    }
    .heart-solid:hover {
      opacity: 1;
      color: #cb68db;
    }
}
     
  
.container {
  padding: 2px 16px;
}

.first-footer-icon {
  padding-right: 10px;
}

.second-footer-icon {
  padding-right: 4px;
}

footer  {
  background-color: #353535;
  color: white;
  padding: 20px;
  h5 {
       font-weight: 700;
       font-size: larger;
       font-style: italic;
       padding-bottom: 10px;
  }
  ul {
       list-style: none;
       background-color: #353535;
  }
  }

  @media (min-width: 1024px) {

  .placeholder {
    width: 5%;
    margin-left: 2px;
  }
    
  .first-section {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    padding: 80px;
  }
    
  .second-section {
    h2 {
      display: flex;
      align-self: flex-start;
    }
  }

  .list-operation {
    flex-direction: row;
    justify-content: space-between;
  }

  .operation {
    width: 30%;
  }

  .restaurant-section {
    padding: 40px;
  }

  .restaurant-list {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    .card {
      width: 46%;
      margin: 20px;
    }
    a {
      width: 100%;
    }
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
  ul {
    flex-direction: row;
    display: flex;
    margin-right: 80px;
  }
  li {
    margin-right: 30px;
  }
} 
}

.loading {
  animation: once 2s normal forwards ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
}

.loader {
  position: absolute;
  z-index: 301;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  overflow: hidden;
  text-align: center;
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 303;
  border-radius: 100%;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}

.spinner1{
  width: 100px;
  height: 100px;
  border: 10px solid #284bc0;
  animation: spin 3s linear infinite;
}

.spinner2{
  width: 70px;
  height: 70px;
  border: 10px solid #0b4aa8;
  animation: negative-spin 4s linear infinite;
}

.spinner3{
  width: 40px;
  height: 40px;
  border: 10px solid #043db9;
  animation: spin 5s linear infinite;
}

.loader-text {
  position: relative;
  top: 75%;
  color: #ffffff;
  font-weight: bold;
}

.loading-hide {
  animation: loadhide 3s normal forwards ease-in-out;
}

@keyframes spin {
  0%{
    transform: translate(-50%,-50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%,-50%) rotate(360deg);
  }
}

@keyframes negative-spin {
  0%{
    transform: translate(-50%,-50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%,-50%) rotate(-360deg);
  }
}

@keyframes once {
  from{
    opacity: 0;
    transform:scale(0,0);
  }
  50%{
    opacity: 1;
    transform: scale(1.1,1.1);
  }
  to{
    opacity: 0;
    transform: scale(0,0);
  }
}

@keyframes loadhide {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}