.form-header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.form-header i {
  display: flex;
  align-items: center;
}

.placeholder {
  border: none;
  background-color: lightgrey;
  font-weight: 900;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 40%;
}

.first-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  padding-bottom: 40px;
  background-color: transparent;
}
.first-section .div-first-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.div-first-section {
  text-align: center;
}

.button-one {
  padding: 15px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 20px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 70%;
  align-self: center;
}

.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-bottom: 100px;
  background-color: #fdfdfd;
}
.second-section h2 {
  align-self: flex-start;
  padding-left: 30px;
}

.list-operation {
  list-style-type: none;
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-top: 20px;
}

.operation {
  background-color: #F6F6F6;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
}
.operation p {
  display: flex;
  gap: 10px;
  font-weight: 600;
  text-align: center;
  padding-left: 10px;
}
.operation span {
  background-color: #9356DC;
  position: absolute;
  border-radius: 100%;
  left: -10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.operation i {
  color: #9356DC;
}

.restaurant-list {
  margin: 30px;
}

.restaurant-section {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
.restaurant-section h2 {
  padding-left: 30px;
  padding-bottom: 30px;
}

.restaurant-a {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.restaurant-a p {
  display: flex;
}
.restaurant-a i {
  position: absolute;
  right: 8%;
  bottom: 5%;
  transition: all 2s ease-in-out;
}
.restaurant-a img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.card {
  transition: 0.3s;
  position: relative;
  width: 100%;
  height: auto;
  contain: content;
  border-radius: 15px;
  background-color: #fdfdfd;
  margin-bottom: 20px;
}
.card span {
  position: absolute;
  top: 10%;
  right: 5%;
  background-color: #99E2D0;
  color: #008766;
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 2px;
}
.card i {
  position: absolute;
  bottom: 5%;
  right: 10%;
}
.card .heart-solid {
  opacity: 0;
}
.card .heart-solid:hover {
  opacity: 1;
  color: #cb68db;
}

.container {
  padding: 2px 16px;
}

.first-footer-icon {
  padding-right: 10px;
}

.second-footer-icon {
  padding-right: 4px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}
footer h5 {
  font-weight: 700;
  font-size: larger;
  font-style: italic;
  padding-bottom: 10px;
}
footer ul {
  list-style: none;
  background-color: #353535;
}

@media (min-width: 1024px) {
  .placeholder {
    width: 5%;
    margin-left: 2px;
  }
  .first-section {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    padding: 80px;
  }
  .second-section h2 {
    display: flex;
    align-self: flex-start;
  }
  .list-operation {
    flex-direction: row;
    justify-content: space-between;
  }
  .operation {
    width: 30%;
  }
  .restaurant-section {
    padding: 40px;
  }
  .restaurant-list {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
  }
  .restaurant-list .card {
    width: 46%;
    margin: 20px;
  }
  .restaurant-list a {
    width: 100%;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
  footer ul {
    flex-direction: row;
    display: flex;
    margin-right: 80px;
  }
  footer li {
    margin-right: 30px;
  }
}
body {
  background-color: #f6f6f6;
}

.header-restaurant {
  display: flex;
  justify-content: center;
}
.header-restaurant nav {
  display: flex;
  align-items: center;
}
.header-restaurant h1 {
  font-style: italic;
  font-weight: 800;
}

.restaurant-title-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.restaurant-title-heart .heart-solid {
  opacity: 0;
}
.restaurant-title-heart .heart-solid:hover {
  opacity: 1;
  color: #cb68db;
}
.restaurant-title-heart .div-heart {
  position: relative;
  width: 20px;
  height: 20px;
}
.restaurant-title-heart .div-heart i {
  position: absolute;
  font-size: 20px;
}

.restaurant-name {
  position: absolute;
  border-radius: 20px;
  background-color: #f6f6f6;
  padding-top: 30px;
  width: 100%;
  top: 38%;
}

.image-restaurant img {
  width: 100%;
}

.restaurant-menu {
  background-color: #f6f6f6;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: -100px;
  z-index: 100;
  position: relative;
  border-radius: 30px;
}
.restaurant-menu .restaurant-button {
  display: flex;
  justify-content: center;
}
.restaurant-menu .restaurant-button button {
  width: 50%;
}
.restaurant-menu h3 {
  padding-bottom: 20px;
}
.restaurant-menu h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #99E2D0;
  margin-top: 5px;
}
.restaurant-menu .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: #fdfdfd;
  padding: 15px;
}
.restaurant-menu .card h4 {
  font-size: 1.2em;
  font-weight: 650;
}
.restaurant-menu .card h2 {
  position: absolute;
  right: 5%;
  top: 25%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f6f6f6;
}

.section-header {
  background-color: #F2F2F2;
}

.header-title {
  display: flex;
  justify-content: center;
  font-style: oblique;
  font-weight: 900;
}

.form-header {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  font-weight: 700;
}

.first-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
